@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-text-primary: var(--text-primary);
  --color-accent: var(--accent);
  --color-backdrop: var(--backdrop);
}

@layer base {
  :root {
  --color-primary: #D57A66;
  --color-accent: #E59500;
  --color-background: #F5F1E9;
  --color-secondary-background: #FDFBF6;
  --color-text-primary: #5C5552;
  }

  .dark {
    --color-primary: #D57A66;
    --color-accent: #E59500;
    --color-background: #3C443C;
    --color-secondary-background: #4A524A;
    --color-text-primary: #F5F1E9;
  }

  body {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
    font-family: 'Inter', sans-serif;
  }

  .dark body {
    @apply bg-background text-primary transition-colors duration-300;
    font-family: 'Inter', sans-serif;
  }
}